<section class="table">
    <div class="table-content">
        <mat-form-field class="wyszukiwarka">
            <mat-label>Wyszukiwarka</mat-label>
            <input matInput (keyup)="applyFilter($event)" placeholder="Wpisz frazę" #input>
        </mat-form-field>
        
        <table mat-table matSort [dataSource]="dataSource">
        
            <ng-container matColumnDef="id">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> ID </th>
            <td mat-cell *matCellDef="let element"> {{element.id}} </td>
            </ng-container>
        
            <ng-container matColumnDef="userId">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> UserId  </th>
            <td mat-cell *matCellDef="let element"> {{element.userId}} </td>
            </ng-container>
        
            <ng-container matColumnDef="title">
            <th mat-header-cell mat-sort-header *matHeaderCellDef> Tutył </th>
            <td mat-cell *matCellDef="let element"> {{element.title}} </td>
            </ng-container>

            <ng-container matColumnDef="body">
            <th mat-header-cell *matHeaderCellDef> Zawartość </th>
            <td mat-cell *matCellDef="let element"> {{element.body | jsonplaceholder:generatePipeLetter(element.id) }} </td>
            </ng-container>

            <ng-container matColumnDef="update">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element"><button (click)="update($event,element.id)" class="mat-updaate" mat-button >Update</button> </td>
                </ng-container>

            <ng-container matColumnDef="delete">
                <th mat-header-cell *matHeaderCellDef></th>
                <td mat-cell *matCellDef="let element"><button (click)="delete($event,element.id)" class="mat-delete" mat-button >Usuń</button></td>
             </ng-container>
        
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr 
                mat-row
                (click)="collapse(row)"
                [ngClass]="{'tr-clicked': clickedRows.indexOf(row.id) != -1}" 
                *matRowDef="let row; columns: displayedColumns;"></tr>
        
            <tr class="mat-row" *matNoDataRow>
                <td class="mat-cell" colspan="4">Brak danych pasujacych do frazy "{{input.value}}"</td>
            </tr>
        </table>
        <mat-paginator [pageSize]="pageSizes[2]" [pageSizeOptions]="pageSizes" showFirstLastButtons></mat-paginator>
    </div>
    <app-toast #tost></app-toast>
    <mat-spinner *ngIf="showSpinner" class="spinner" color="#4c39a0"></mat-spinner>
</section>  