.table {
    width: 80%;
    margin: 0px auto;
    position: relative;
    .wyszukiwarka {
        margin-top: 1.5rem !important;
    }
    table {
        margin-top: 1.5rem;
        width: 100%;
            tr.mat-header-row {
                th, td {
                    padding: 0px !important;
                }
                th {
                    text-align: center;
                }
            }
            tr.mat-row {
                cursor: pointer;
                transition: all .3s;
                th {
                    text-align: center;
                }
                th, td {
                    padding: 1rem 1.5rem;
                }
                td:nth-child(1),td:nth-child(2) {
                    text-align: center;
                }
                &:hover {
                    background-color: #ddd !important;
                }
                &:nth-of-type(even) {
                    background-color: #f8f8f8;
                }
            }
            .mat-column-body {
                width: 30%;
            }
    }
    .spinner {
        position: absolute;
        top: 50vh;
        left: 50%;
        transform: translate(-50%,-50%);
    }
    button {
        color: #fff;
        transition: all .3s;
    }
    .mat-updaate {
        background-color: #4c39a0;
        &:hover {
            background-color: #3d2d81;  
        }
    }
    .mat-delete {
        background-color: #dd3737;
        &:hover {
            background-color: #ad2a2a;  
        }
    }
}