<main>
    <app-menu class="menu">
        <div class="own columns">
            <div class="column is-12">
                <p class="menu-label">
                    General
                </p>
                <ul class="menu-list mb-5">
                    <li><a routerLink='/dashboard'>Dashboard</a></li>
                </ul>
                <nav class="breadcrumb" aria-label="breadcrumbs">
                    <ul>
                        <li *ngFor="let it of bredcrumb; let i = index" [ngClass]="{'is-active' : bredcrumb.length - 1 === i}">
                            <a href="#">{{ it }}</a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </app-menu>
    <router-outlet></router-outlet>
</main>
